{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/base.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    {% block styles %}
    <style>

        .navbar {
            background-color: red; 
        }
    </style>
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'index' %}" >E-Com</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="http://127.0.0.1:8000/magasin/">Add Prod <span class="sr-only"></span></a>
                    </li>
                    
                    <li class="nav-item active">
                        <a class="nav-link" href="{%url 'index2'%}">Vitrine<span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{%url 'addfournisseur'%}">Fournisseur<span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{%url 'addproduct'%}">Produit<span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{%url 'addcommande'%}">Commande<span class="sr-only"></span></a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item active">
                    <a class="nav-link" href="#">{{user}},</a>
                    </li>
                    <li class="nav-item active">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                    {% else %}
                 <li class="nav-item active">
                 <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item active">
                <a class="nav-link" href="{% url 'register' %}">Signup</a>
              </li>
       {% endif %}
      
    </ul>
        <form class="form-inline my-2 my-lg-0 d-flex align-items-center">
        <input class="form-control mr-sm-2" name="q" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
            </div>
        </div>
    </nav>

    <div class="conteneur  ">
        {% block content %}{% endblock %}
    </div>
</body>
</html>